Node modules
-------------------------

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

-------------------------
Environment variables
-------------------------

.env
.env.*
!.env.example

-------------------------
Logs
-------------------------

logs
*.log

-------------------------
Build / dist
-------------------------

dist/
build/
coverage/

-------------------------
Prisma
-------------------------

backend/generated/
backend/generated/prisma/
prisma/generated/

-------------------------
OS files
-------------------------

.DS_Store
Thumbs.db

-------------------------
IDE / Editor
-------------------------

.vscode/
.idea/
*.swp
*.swo

-------------------------
Frontend builds (Vite / React)
-------------------------

frontend/dist/
frontend/node_modules/

-------------------------
Cache
-------------------------

.cache/
.tmp/

-------------------------
TypeScript
-------------------------

*.tsbuildinfo